@import '../abstract/variables';

.container-card {
    width: 23.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: $font-size-card-xl;
    font-family: $font;
    color: $black;
}

p {
    display: none;
}

.card {
    width: 40%;

}

img {
    width: 100%;
}

// @media (min-width: 700px) {
//     .container-card {
//         align-items: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: 42.75em;
//     }

//     .card {
//         display: flex;
//         flex-direction: column;
//         width: 45%;
//     }

//     p {
//         display: block;
//         font-size: $font-size-card-normal;
//         font-family: $font;
//         color: $color-card-paragraph;
//     }

//     h4 {
//         display: inline-block;
//     }
// }

@media (min-width: 1200px) {
    .container-card {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        margin: 20px auto;
        width: 1200px;
    }

    .card {
        width: 26%;
        margin: 16px;
    }

    h4 {
        display: inline-block;
        height: 46.76px;
        width: 281.71px;
    }

    p {
        display: block;
        font-size: $font-size-card-normal;
        font-family: $font;
        color: $grey;
        height: 46.76px;
        width: 281.71px;
    }

    img {
        height: 160px;
        width: 160px;
    }

    .card-body {
        width: 180px;
    }
}