header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 75px;
    position: absolute;
}

.logo {
    width: 150px;
    margin: 20px 0;
    padding: 0 40px;
}

.botones {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -55px;
    left: -30px;
    right: 0;
}

.uno {
    margin: 0 50px; 
}

.burger {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 50px;
}


@media (min-width: 768px) {
    .botones {
        display: flex;
    }
    .fa-hamburger {
        display: none;
    }
}


