.slider-2 {
    font-family: $font-arial;
    position: relative;

    .content-2 {
        width: 550px;
    }
    
@media (min-width: 375px){
    img{  
        width: 100%;}
    .content-2{
        position: absolute;
        top: -6%;
        left: 2%;
        color: whitesmoke;
        text-transform: uppercase;
    }
    .content-2 .p1 {
        text-transform: none;
}
    .content-2 h3 {
        color: $verde;
    }
}

@media (min-width: 768px) {
.content-2 {
position: absolute;
top: 8%;
left: 12%;
color: whitesmoke;
p {
    display: block;
    }
}
}

@media (min-width: 1152px) {
    .content-2  h3{
    font-size: 15px; 
    text-align: left;
    font-weight: 400;
    color: $verde;
    text-transform: uppercase;
}
    .content-2 p {
        font-size: 20px;
        display: block;
        color: whitesmoke;
        text-transform: uppercase;
        }
    .content-2 .p1 {
        text-transform: none;
        font-size: x-large;
    }
}  
}