// Fonts 
$font-montserrat: 'Montserrat', sans-serif;
$font-arial: 'Arial', sans-serif;
$font-helvetica: 'Helvetica', sans-serif;
$font-tahoma: 'Tahoma', sans-serif;
$font-veredana: 'Verdana', sans-serif;

//Colores
$verde: #99ce45;
$azul: #01b0fe;