
/*Colors and pading*/
    $white: white;
    $black: black;
    $menu-color: #01b0fe;
    $menu-borderline-color: #0097db;
    $container-space: 20px 0;

/*Fonts and styles*/
    $menu: 18px;
    $menu-hover: 22px;
    $menu-font-normal:  'Montserrat', sans-serif;
    $menu-font-hover:  'Montserrat', sans-serif;